button:not(.lock) {
    border: 0;
    background: #0087cc;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0.2em;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
  }
.lock {
    border: 0;
    background: #323C50;
    border-radius: 4px;
    box-shadow: 0 5px 0 #323C50;
    color: #fff;
    font: inherit;
    margin: 0.2em;
    outline: 0;
    padding: 12px 20px;
}
  button:not(.lock):active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
  }
  .container {
    display: flex;
    justify-content: center;
  }

