@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');

body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6c00ff+0,e200ff+100 */
    background: #6c00ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #6c00ff 0%, #e200ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #6c00ff 0%,#e200ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #6c00ff 0%,#e200ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c00ff', endColorstr='#e200ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
}


  

aside {
    color: #ffffff;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
}
figure {
    margin: 0;

}
figcaption {
    font-size: 2.2em;
    font-weight: bold;
}
#menuburger {
    width: 40px;
    cursor: pointer;
}

nav {
    background: #fff;
}

.active {
    position: fixed;
    display: block;
    background: #fff;
    width: 80%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400 !important;
    display: block;
    padding: 5% 10%;
    background-color: rgba(255, 255, 255, .35);
    color: black;

}

main{
    background: white;
    padding: 1em 1.4em;
    
}

h1 {
    margin: 0;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
}

#searchdiv {
    margin-bottom: 1em;
    position: static;
}

@media only screen and (min-width: 900px) {
    body{
        display: grid;
        grid-template-columns: 25% auto;
        padding: 2em;
    }

    #menuburger {
        display: none;
    }

    aside {
        background: #9F7EE3 !important;
        
        grid-template-columns: auto;
        grid-template-rows: 20% auto 5%;
        padding: 0;
        position: relative !important;
        animation: yourAnimation 0.5s forwards 0s ease;
        
    }


    main {
        padding: 4em;
        background: #ffffff;
        position: relative;
        box-shadow: -8px 0px 10px rgba(0, 0, 0, .20);
    }

    ul {
        
        display: block;
        margin-top: 0;
        
        position: relative !important;
        width: 100% !important;
    }
    #avatar {
        border-radius: 50%;
        background: #fff;
        width: 50px;
        height: 50px;
        margin: 2em auto 1em auto;
        display: none;
    }

    figcaption {
        text-align: center;
        color: #ffffff;
        margin-top: 1em;
        margin-bottom: 1em !important;
        font-weight: 600;
        font-size: 3em;
        padding: 0;
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
    }

    figure {
        text-align: center;
        padding: 0;
        margin-bottom: 1em !important;
    }

    ul li a{
        text-decoration: none;
        text-transform: none;
        font-size: 40;
        font-weight: 600;
        display: block;
        padding: 0.5em 1em;
        padding-bottom: 1em;
        background-color: #936ED3;
        color: rgba(255, 255, 255, .58);

        -o-transition:.4s;
        -ms-transition:.4s;
        -moz-transition:.4s;
        -webkit-transition:.4s;
        transition:.4s;
    
    }

    a:hover {
        color: rgba(255, 255, 255, .77);
    }

    .current-link {
        color: rgba(255, 255, 255, .92)!important;
    }

    nav{
        
        /*background: #9F7EE3;*/
        background: inherit;
        
    
    }

    @keyframes yourAnimation{
        0%{
            transform: rotate(0) scale(1) translateX(-20px) translateY(0) skewX(0) skewY(0);
            transform-origin: 50% 50%;
            opacity: 0;
            }
        100%{
            transform: rotate(0) scale(1) translateX(0) translateY(0) skewX(0) skewY(0);
            opacity: 1;
            }
    }

    h1 {
        position: absolute;
        top: 1em;
        left: 1em;
        font-weight: bold !important;
          
    }
    

    #searchdiv {
        margin-top: 3em;
    }
    p:not(.bottom){
        position: relative;
        margin-top: 1em;
        text-align: center;
        font-weight: 500;
        font-size: 1.5em;
    }
    

    .bottom {
        position: absolute;
        size: 0.1em !important;
        color: rgba(0, 0, 0, .20);
        font-weight: 100;
        text-align: center;
        bottom: 0em !important;
        left: 1em !important;
        display: inline;
    }

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, .40);
    }
}
