@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6c00ff+0,e200ff+100 */
    background: #6c00ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #6c00ff 0%, #e200ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #6c00ff 0%,#e200ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #6c00ff 0%,#e200ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c00ff', endColorstr='#e200ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
}


  

aside {
    color: #ffffff;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
}
figure {
    margin: 0;

}
figcaption {
    font-size: 2.2em;
    font-weight: bold;
}
#menuburger {
    width: 40px;
    cursor: pointer;
}

nav {
    background: #fff;
}

.active {
    position: fixed;
    display: block;
    background: #fff;
    width: 80%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 400 !important;
    display: block;
    padding: 5% 10%;
    background-color: rgba(255, 255, 255, .35);
    color: black;

}

main{
    background: white;
    /*padding: 1em 1.4em;*/
    
}

h1 {
    margin: 0;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
}

#searchdiv {
    margin-bottom: 1em;
    position: static;
}

@media only screen and (min-width: 900px) {
    body{
        display: grid;
        grid-template-columns: 25% auto;
        padding: 2em;
    }

    #menuburger {
        display: none;
    }

    aside {
        background: #9F7EE3 !important;
        
        grid-template-columns: auto;
        grid-template-rows: 20% auto 5%;
        padding: 0;
        position: relative !important;
        animation: yourAnimation 0.5s forwards 0s ease;
        
    }


    main {
        /*padding: 4em;*/
        background: #ffffff;
        position: relative;
        box-shadow: -8px 0px 10px rgba(0, 0, 0, .20);
    }

    ul {
        display: block;
        position: relative !important;
        width: 100% !important;
    }

    ul li a{
        text-decoration: none;
        text-transform: none;
        font-size: 40;
        font-weight: 600;
        display: block;
        padding: 0.5em 1em;
        padding-bottom: 1em;
        background-color: #936ED3;
        color: rgba(255, 255, 255, .58);

        -o-transition:.4s;
        -ms-transition:.4s;
        -moz-transition:.4s;
        -webkit-transition:.4s;
        transition:.4s;
    
    }

    a:hover {
        color: rgba(255, 255, 255, .77);
    }

    .current-link {
        color: rgba(255, 255, 255, .92)!important;
    }

    nav{
        
        /*background: #9F7EE3;*/
        margin-top: 4em;
        background: inherit;
        
    
    }

    @keyframes yourAnimation{
        0%{
            transform: rotate(0) scale(1) translateX(-20px) translateY(0) skewX(0) skewY(0);
            transform-origin: 50% 50%;
            opacity: 0;
            }
        100%{
            transform: rotate(0) scale(1) translateX(0) translateY(0) skewX(0) skewY(0);
            opacity: 1;
            }
    }

    h1 {
        position: absolute;
        top: 1em;
        left: 1em;
        font-weight: bold !important;
          
    }
    

    #searchdiv {
        margin-top: 3em;
    }
    p:not(.bottom){
        position: relative;
        margin-top: 1em;
        text-align: center;
        font-weight: 500;
        font-size: 1.5em;
    }
    

    .bottom {
        position: absolute;
        size: 0.1em !important;
        color: rgba(0, 0, 0, .20);
        font-weight: 100;
        text-align: center;
        bottom: 0em !important;
        left: 1em !important;
        display: inline;
    }

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, .34);
    }

    p {
        margin: 0 !important;
    }


    figure{
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        width: 400px;
      }

    .avatar{
    overflow: hidden;
    padding: 1em;
    height: 200px;
    flex-grow: 1;
    }
    
    figcaption {
    margin-left: .5em;
    margin-top: 2em;
    overflow: hidden;
    width: 65%;
    flex-grow: 2;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 2.3em;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    }
    
    .uname{
    max-width: 250px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    }
    
    .tag {
    margin: 0 auto;
    display: inline-block;
    width: auto;
    text-align: center;
    background-color: #D4913A;
    border-radius: .2em;
    font-size: .35em;
    color: white;
    padding: .5em;
    padding-top: 0;
    }
    
    p {
    margin: 0;
    }
}

@media all {
    .world-box {
        display: block;
        -webkit-box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.62);
        box-shadow: 0px 3px 14px -3px rgba(0, 0, 0, 0.62);
        margin: 4em;
        height: auto;
        max-width: 25em;
        width: auto;
        z-index: 1;
        border-radius: .5em;
        border-left: 1px solid rgb(223, 223, 223);
        border-right: 1px solid rgb(223, 223, 223);
        border-bottom: 1px solid rgb(223, 223, 223);
    }

    .world-box-titlebar {
        height: 3.2em;
        width: auto;
        background: -moz-linear-gradient(45deg, #12eaf6 0%, #005dff 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #12eaf6 0%, #005dff 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #12eaf6 0%, #005dff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        z-index: 0;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        border-top: 1px solid rgb(223, 223, 223);
        border-bottom: 1px solid rgb(223, 223, 223);
        vertical-align: middle;
        line-height: 3.5em;

    }

    .world-box-titlebar-text {
        margin-left: .8em;
        font-family: 'Gothic A1', sans-serif;
        font-weight: 600;
        font-size: 1.5em;
        color: rgba(0, 0, 0, .5);
        user-select: none;
    }

    .world-box-body {
        margin-top: .5em;
        margin-left: 5px;
        margin-bottom: .5em;
        font-family: 'Gothic A1', sans-serif;
        font-weight: 500;
        font-size: 1em;
        color: rgba(0, 0, 0, .7);
    }

    .world-box-body-button {
        margin-top: -1.5em;
        margin-right: 1em;
        float: right;
        width: 1.2em;
        opacity: .2;
        user-select: none;
    }

    .world-box-body, .world-box-titlebar-text p {
        /*margin: 0 !important;
*/
    }
    .world-box-body, .world-box-body p {
        font-size: 1.1em!important;
        text-align: left!important;
        /*margin: 0!important;*/

    }
    .world-box-titlebar {
        text-align: center!important;

    }
    .world-box-titlebar {
        font-weight: bolder!important;
    }

    header {
        width: auto;
        max-height: 20em;
        height: auto;
        margin:0 0 10px 0!important;
        text-align: left;
        color: white;

        background: rgb(122,233,255);
        background: -moz-linear-gradient(90deg, rgba(122,233,255,1) 0%, rgba(44,44,228,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(122,233,255,1) 0%, rgba(44,44,228,1) 100%);
        background: linear-gradient(90deg, rgba(122,233,255,1) 0%, rgba(44,44,228,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ae9ff",endColorstr="#2c2ce4",GradientType=1);
        padding-bottom: 20px;
    }

    .titleName {
        padding-top: 20px;
        margin-left: 20px;
        font-size: 100px;
    }

    .titleTag {
        margin: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px!important;
        display: inline-block;
        width: auto;
        text-align: center;
        background-color: #D4913A;
        border-radius: .2em;
        font-size: .35em;
        color: white;
        /*padding: 0;*/
        float: right;
    }
    .status {
        margin-left: 15px;

    }
    .onlinedot {
        display: inline;
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

}
